@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    background-size: contain;
    background-image: url('./bg.gif');
    background-color: #090b18;
}

body {
    margin: 0;
}

h1, section {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    border-color: white;
    border-style: dashed;
    color: white;
    background: black;
    font-size: 20pt;
    font-family: "Libertinus Serif", times, serif;
    word-break: break-word;
    max-width: 30em;
}

h1 {
    padding: 3%;
    text-align: center;
    font-style: italic;
}

h1 img {
    width: 100%;
}


section {
    padding: 0em;
}

img {
    border-style: none;
}

#rotate {
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
    background-color: black;
    background-image: url("./bio.webp");
    background-size: contain;
    color: red;
    font-size: 50px;
    font-family: "Libertinus Serif", times, serif;
    width: 100vw;
    height: 100vh;
}

#rotate img {
    width: 100%;
}

@media screen and (orientation: landscape) {
    #rotate {
        display: none;
    }
}

.qr {
    position: fixed;
    animation-name: blub;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blub {
    from {filter: blur(0px);}
    to {filter: blur(3px);}
}

#notifications {
    user-select: none;
    z-index: 50;
    position: fixed;
    font-family: "Libertinus Serif", times, serif;
    top: 0;
    left: 0;
    font-size: 15px;
    transform-origin: top left;
    animation-name: warblev;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes warblev {
    from {transform: scale(100%, 200%);}
    to {transform: scale(100%, 230%);}
}

@keyframes warbleh {
    from {transform: scale(95%, 100%);}
    to {transform: scale(105%, 100%);}
}

.notification {
    display: block;
    background-color: black;
    color: white;
    cursor: default;
}

.notification::after, .notification::before {
    content: "🚨";
}

#slogans section, .bigslogan {
    text-align: center;
    font-family: "Monsieur La Doulaise", cursive;
    font-size: 80px;
    animation-name: warbleh;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@media screen and (width > 1300px) {
    .article-pair {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    section.article {
        display: inline-block;
        margin-left: .5em;
        margin-right: .5em;
        flex: 1 1 0px;
    }
}

@media screen and (width <= 1300px) {
    section.article {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}

section.article {
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}

.article h2 {
    font-family: "BBH Bartle", sans-serif;
    transform: scale(100%, 50%);
    filter: drop-shadow(5px 5px 0px red);
    margin-bottom: 0;
}

.article.opinion h2 {
    font-family: "BBH Bartle", sans-serif;
    transform: scale(100%, 50%);
    filter: drop-shadow(5px 5px 0px purple);
    margin-bottom: 0;
}

.article.special h2 {
    font-family: "BBH Bartle", sans-serif;
    transform: scale(100%, 50%);
    filter: drop-shadow(5px 5px 0px green);
    margin-bottom: 0;
}

.article.lifestyle h2 {
    font-family: "BBH Bartle", sans-serif;
    transform: scale(100%, 50%);
    filter: drop-shadow(5px 5px 0px green);
    margin-bottom: 0;
}

.article.expose h2 {
    font-family: "BBH Bartle", sans-serif;
    transform: scale(100%, 50%);
    filter: drop-shadow(5px 5px 0px orangered);
    margin-bottom: 0;
}

img.p {
    display: block;
    width: 100%;
    animation-name: para;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes para {
    from {filter: invert() hue-rotate(0deg);}
    to {filter: invert() hue-rotate(360deg);}
}

img.i {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    min-width: 50%;
    max-width: 100%;
    margin-bottom: 1em;
    animation-name: warbleh;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    border-color: white;
    border-style: solid;
    border-width: 10px;
    color: white;
}

.news p, .news ul {
    font-family: "Libertinus Serif", times, serif;
    color: black;
    background-color: lightblue;
    border-radius: 10px;
    padding: 1em;
    animation-name: para;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.opinion p, .opinion ul, .lifestyle p, .lifestyle ul, .lifestyle ol {
    font-family: "major mono display", monospace;
    color: white;
}

span.exp {
    font-family: "IM Fell English SC", serif;
    font-size: 120%;
}

.expose p {
    font-family: "IM Fell English SC", serif;
    color: red;
    text-align: right;
    font-size: 150%;
}

.disclaimer {
    font-family: "Libertinus Serif", times, serif !important;
    font-style: italic;
}

#greetings {
    font-size: 30px;
    font-family: "Libertinus Serif", times, serif;
    color: red;
    text-align: center;
}

#drye {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100vw;
    height: 100vh;
    display: none;
}

.eye {
    color: red;
    font-family: "Libertinus Serif", times, serif;
    display: inline-block;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    padding: .25em;
    margin-bottom: 1em;
    user-select: none;
    cursor: pointer;
    background-image: url('./bg.gif');
    background-color: black;
}

.eye span {
    background-image: none;
    background-color: black;
}

.eye::after {
    width: 4em;
    height: 3em;
    margin-left: 1em;
    content: "";
    display: inline-block;
    background-image: url("./eye.png");
    background-size: contain;
    image-rendering: auto;
}

@keyframes teeter {
    0% {transform: rotate(-3deg);}
    50% {transform: rotate(3deg);}
    100% {transform: rotate(-3deg);}
}

#form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    border-color: white;
    border-style: dashed;
    color: white;
    background: black;
    font-size: 25pt;
    word-break: break-word;
    max-width: 30em;
    font-family: "Libertinus Serif", times, serif;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    padding: .25em;
    margin-bottom: 1em;
    user-select: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    animation-name: teeter;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#form em::after, #form em::before {
    width: 2em;
    height: 2em;
    content: "";
    display: inline-block;
    background-image: url("./bio.webp");
    background-size: contain;
    transform: translate(0, .6em);
}

#focus {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 98;
    width: 100vw;
    display: none;
}

.extlink {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    background: black;
    font-size: 25pt;
    word-break: break-word;
    max-width: 30em;
    font-family: "BBH Bartle", sans-serif;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    padding: .25em;
    margin-bottom: 1em;
    user-select: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    animation-name: warbleh;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    color: red;
}

.red {
    color: red;
}

.green {
    color: green;
}

.blue {
    color: turquoise;
}

.magenta {
    color: magenta;
}

.goldlink {
    color: black;
    background: gold;
    border-color: black;
}

.special p {
    font-family: "Libertinus Serif", times, serif;
}

#ama p.q {
    font-style: italic;
}

#ama p.q img {
    image-rendering: pixelated;
    height: 1em;
    vertical-align: middle;
    border-color: red;
    border-width: .125em;
    border-style: solid;
    animation-name: sig;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes sig {
    0% {border-color: red}
    50% {border-color: green}
}

#ama p.a {
    image-rendering: pixelated;
    font-family: "Courier Prime", courier, monospace;
    color: #202030;
    background: papayawhip;
    background-size: 90px;
    padding: 1em;
    border-radius: 10px;
    font-size: 17pt;
    animation: 1s linear 0s infinite normal both running float;
}

@keyframes float {
    from {
        transform: rotate(0deg) translateX(0.05em) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translateX(0.05em) rotate(-360deg);
    }
}

#back {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    border-color: white;
    border-style: dashed;
    background: black;
    font-size: 25pt;
    word-break: break-word;
    max-width: 30em;
    font-family: "BBH Bartle", sans-serif;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    padding: .25em;
    margin-bottom: 1em;
    user-select: none;
    cursor: pointer;
    text-align: center;
    animation-name: warbleh;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    color: green;
}

#horo {
    image-rendering: pixelated;
    font-family: "Major Mono Display", monospace;
    padding: .5em;
    background-image: url("./hdf.jpg");
    background-size: 100%;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
  filter: invert();
}

button,
input { /* 1 */
  overflow: visible;
  border-color: black;
  border-style: solid;
  border-width: 2px;
}

#ht {
    text-align: center;
    text-decoration: underline;
}

[type=number] {
    width: 5rem;
}

#tzg-canvas {
    image-rendering: pixelated;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background: radial-gradient(circle, white 0%, black 100%);
    touch-action: manipulation;
    /* cursor: url("tzg_cursor.png") 16 16, auto; */
}

#tzgrules {
    font-family: "Courier Prime", courier, monospace;
    padding: 1em;
}

#val .i {
    animation-name: heartbeat;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

@keyframes heartbeat
{
  0% {
    transform: scale(1, 1);
  }
  10% {
    transform: scale(1.2, 1);
  }
  20% {
    transform: scale(1.0, 1);
  }
  30% {
    transform: scale(1.15, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

#val {
    image-rendering: pixelated;
    background-image: url("./val_bg.png");
    background-size: 100%;
    border-color: black;
}

#val * {
    image-rendering: auto;
    border-color: black;
}

#val-hwrap {
    background: black;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 30px;
}

#val h2 {
    margin: 0;
    padding: 0;
}

#val p {
    border-thickness: 15px;
    border-style: solid;
    border-color: red;
}

#comingsoon {
    text-align: center;
    padding: 1em;
    font-size: 30px;
    eont-style: italic;
    font-family: "Libertinus Serif", times, serif;
}

#zdshr-canvas {
    margin-left: auto;
    margin-right: auto;
    display: block;
    background: #8c8c8c;
    background: linear-gradient(0deg,rgba(140, 140, 140, 1) 0%, rgba(230, 230, 230, 1) 50%, rgba(140, 140, 140, 1) 100%);
    touch-action: manipulation;
}

#merches {
    padding: 1em;
    min-width: 90%;
}

.merch-item {
    width: 10em;
    display: inline-block;
    border-color: white;
    border-width: 3px;
    border-style: solid;
    padding: .5em;
    background: #080808;
    background: linear-gradient(90deg,rgba(8, 8, 8, 1) 0%, rgba(230, 230, 230, 1) 50%, rgba(8, 8, 8, 1) 100%);
}

.gold-merch-item {
    background: linear-gradient(90deg,rgba(8, 8, 8, 1) 0%, gold 50%, rgba(8, 8, 8, 1) 100%);
}

.merch-item img {
    width: 100%;
    display: block;
    border-color: white;
    border-width: 3px;
    border-style: solid;
}

.merch-item p {
    color: red;
    background: rgba(0, 0, 0, .6);
    border-radius: 10px;
    padding: 5px;
}

#merchinstr {
    font-family: "Courier Prime", courier, monospace;
    padding: 1em;
}

#merchinstr a {
    color: cyan;
}

#goldform {
    padding: 1em;
    color: black;
    background-image: url("./gold_bg.jpg");
    background-size: 100% 100%;
    border: none;
    text-align: center;
}

#blackout {
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
    background-color: black;
    background-size: contain;
    display: none;
    width: 100vw;
    height: 100vh;
    cursor: none;
    color: white;
    font-family: "Courier Prime", courier, monospace;
    font-size: 20pt;
}

.beagle-article {
    color: black;
    font-family: "Source Serif 4", serif;
    background: white;
}

.beagle-article {
    color: black;
    font-family: "Source Serif 4", serif;
    background: white;
    border-color: black;
    border-style: solid;
}

.beagle-article img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    min-width: 50%;
    max-width: 100%;
    margin-bottom: 1em;
}

.beagle-article h2 {
    font-family: "Alegreya Sans", sans-serif;
    transform: none;
    filter: none;
    margin-bottom: 1em;
    font-weight: 800;
    text-align: center;
    color: #004890;
}

.beagle-article figcaption {
    font-size: 70%;
    color: #525252;
    font-style: italic;
}

#emrpg-canvas {
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-size: 100% 100%;
    touch-action: manipulation;
}

#contest {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    border-color: white;
    border-style: dashed;
    color: white;
    background: black;
    font-size: 20pt;
    word-break: break-word;
    max-width: 30em;
    display: block;
    padding: 3%;
}

#contest img {
    width: 100%;
}
